{% extends "RexiDashBoardBundle::base.html.twig" %}
{% import 'RexiDashBoardBundle::macros.html.twig' as macros %}

{% block title %}Profil użytkownika{% endblock %}

{% set blok %}
    <div class="avatar-row">
        <img src="{{ asset(app.user.avatar) }}" class="online" alt="">
    </div>
    <div class="user-form-avatar">
        {{ form(accountSettingsForm, {'attr': {'novalidate': 'true'}}) }}
    </div>
{% endset %}

{% set blok2 %}
    {{ form(changePasswdForm, {'attr': {'novalidate': 'true'}}) }}
{% endset %}

{% block pageContainer %}
    {{ macros.widgetBlock('Profil', 'Edycja danych', blok) }}
    {{ macros.widgetBlock('', 'Zmiana hasła', blok2) }}
{% endblock %}
