<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Rexi</title>
    <link href="{{ asset('bundles/commonuser/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/commonuser/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/commonuser/css/plugins/iCheck/custom.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/commonuser/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/commonuser/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/commonuser/css/layout.css') }}" rel="stylesheet">
</head>
<body class="gray-bg">
    {% block pageContainer %}{% endblock %}
    <!-- Mainly scripts -->
    <script src="{{ asset('bundles/commonuser/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/plugins/pace/pace.min.js') }}"></script>
    <script src="{{ asset('bundles/commonuser/js/plugins/iCheck/icheck.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
</body>



</html>
