{% macro drzewo_blokow(bloki) %}
    {% for blok in bloki %}
        {% if blok.root %}
        <ul role="tree">
        {% endif %}
            <li class="parent_li" role="treeitem">
                <span title="{{ blok.nazwa }}" style="background-color: {{ blok.kolor }}">
                    <a href="{{ path('rexi_bloki_wycen_aktualizuj', {'id': blok.id}) }}">
                    {% if blok.root %}
                        <i class="fa fa-sitemap"></i>
                    {% endif %}
                    {{ blok.nazwa }}
                    </a>
                </span>
                {% if blok.typ == 1 %}
                    <ul role="tree">
                        <li class="parent_li" role="treeitem"><span>Tak</span></li>
                        <li class="parent_li" role="treeitem"><span>Nie</span></li>
                    </ul>
                {% else %}
                    {% if blok.dzieci is defined %}
                    {% if blok.dzieci %}
                        <ul>
                            {{ _self.drzewo_blokow(blok.dzieci) }}
                        </ul>
                    {% endif %}
                    {% endif %}
                {% endif %}
            </li>
        {% if blok.root %}
        </ul>
        {% endif %}
    {% endfor %}
{% endmacro %}