<nav>
    <ul>
    {% for name,menu_row in menu %}
        {% if app.request.get('_route') in menu_row.submenu %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
            <a href="{% if menu_row.submenu|length > 1 %}#{% else %}{{ path(menu_row.submenu|first) }}{% endif %}">
                <i class="{{ menu_row.class }}"></i> 
                <span class="nav-label">{{ name }}</span>
                {% if menu_row.submenu|length > 1 %}
                    <span class="fa arrow"></span>
                {% endif %}
            </a>
            {% if menu_row.submenu|length > 1 %}
                <ul class="">
                {% for nameSub,route in menu_row.submenu %}
                    {% if app.request.get('_route') == route %}
                        <li class="active">
                    {% else %}
                        <li>
                    {% endif %}
                        <a href="{{ path(route) }}">
                            {{ nameSub }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>	

<!--
<ul class="nav metismenu" id="side-menu">
    <li class="nav-header">
        <div class="dropdown profile-element"> <span>
                <img alt="image" class="img-circle" src="{{ asset('bundles/kalkulatorkalkulator/img/profile_small.jpg') }}" />
                 </span>
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ app.user.username}}</strong>
                 </span> <span class="text-muted text-xs block">{{ app.user.username}} <b class="caret"></b></span> </span> </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="profile.html">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('_logout') }}">Logout</a></li>
            </ul>
        </div>
        <div class="logo-element">
            IN+
        </div>
    </li>
</ul>
-->