{% extends "RexiDashBoardBundle::base.html.twig" %}
{% import 'RexiDashBoardBundle::macros.html.twig' as macros %}

{% block title %}Dodaj blok{% endblock %}

{% form_theme form _self %}

{% set blok %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(form._token) }}
        <div>
            <fieldset>
                <section>
                    {{ form_label(form.nazwa, null, {'label_attr': {'class': ''}}) }}

                    <label class="input ">
                        {{ form_widget(form.nazwa, {'attr': {'class': 'input-xs'}}) }}
                        {{ form_errors(form.nazwa) }}
                    </label>
                </section>
                <section>
                    {{ form_label(form.id_rodzica, null, {'label_attr': {'class': ''}}) }}

                    <label class="input ">
                        {{ form_widget(form.id_rodzica, {'attr': {'class': 'select2 select2-offscreen'}}) }}
                        {{ form_errors(form.id_rodzica) }}
                    </label>
                </section>
                <section>
                    <div class="row">
                        <div class="col col-1">
                            {{ form_label(form.kolor, null, {'label_attr': {'class': ''}}) }}

                            <label class="input ">
                                {{ form_widget(form.kolor, {'attr': {'class': 'input-xs'}}) }}
                                {{ form_errors(form.kolor) }}
                            </label>
                        </div>
                    </div>
                </section>
                <section>
                    {{ form_label(form.typ, null, {'label_attr': {'class': ''}}) }}

                    <label class="input ">
                        {{ form_widget(form.typ, {'attr': {'class': 'input-xs'}}) }}
                        {{ form_errors(form.typ) }}
                    </label>
                </section>
            </fieldset>
                <table class="table table-bordered tabela-wycen" id="jq-tabela-wycen-produkty" style="width: 50%; margin: 20px auto; display: none;">
                    <thead>
                        <tr>
                            <th width="40%">Cena dla klienta (PLN)</th>
                            <th width="40%">Koszt (PLN)</th>
                            <th width="20%">Możliwy rabat (%)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="jq-base-row">
                            <td><label class="input"><input class="numeric" type="text" name="p_cena_klienta[]" /><label></td>
                            <td><label class="input"><input class="numeric" type="text" name="p_cena[]" /><label></td>
                            <td><input class="form-control spinner spinner-both" style="padding: 0 30px;" id="jq-rabat" name="p_rabat[]" value="0"></td>
                        </tr>
                    <tbody>
                    </tbody>
                </table>
            <footer>
                {{ form_widget(form.submit) }}
            </footer>
        </div>
    </form>
    <script>
        
    </script>
{% endset %}



{% block scriptsJS %}
    <script type="text/javascript" src="{{asset('bundles/rexidashboard/js/plugin/colorpicker/bootstrap-colorpicker.min.js')}}"></script>
    <script>
        $(document).ready(function(){
            
            $('#addBlok_kolor').colorpicker().on('changeColor',
                function(ev) {
                    $(this).css('background-color', ev.color.toHex());
                }
            );
    
            $("#jq-rabat").spinner({
                min: 0,
                max: 100,
                step: 1,
                start: 0,
                numberFormat: "C"
            });
            
            $('#addBlok_typ input').on('click', function(){
                ukryj_wyceny($(this).val(), 0);
            });            
        });
        
        function ukryj_wyceny(stan, typ) {
            if(stan == 0) {
                $('#jq-tabela-wycen-produkty').fadeOut();
            } else {
                $('#jq-tabela-wycen-produkty').fadeIn();
            }
        }
    </script>
{% endblock %}

{% block pageContainer %}
    {{ macros.widgetBlock('Bloki wycen', 'Dodaj blok', blok) }}
{% endblock %}
