{% extends "RexiBlocksValuationBundle::empty_page.html.twig" %}


{% block pageContainer %}
    <h3>Witamy w systemie Rexi</h3>
    <p>Uzupełnij swoje dane aby móc przejsc do wyceny projektu</p>
    {% form_theme form 'RexiBlocksValuationBundle:Form:form_def.html.twig' %}
    {{ form_row(form.imie) }}
    {{ form_row(form.imie_drugie) }}
    {{ form_row(form.nazwisko) }}
        
    <div class="col-lg-12 col-dane-dowodu jq-dane-z-dowodu-wzor">
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>Dane z dowodu</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display: none;">
                {{ form_row(form.imie_ojca) }}
                {{ form_row(form.imie_matki) }}
                {{ form_row(form.data_urodzenia) }}
                {{ form_row(form.plec) }}
                <div class="form-group">
                    <label class="label-form">Kod pocztowy / miasto</label>
                    {{ form_widget(form.kod_pocztowy) }} / {{ form_widget(form.miasto) }}
                </div>
                <div class="form-group">
                    <label class="label-form">Ulica / Nr domu / Nr lokalu</label>
                    {{ form_widget(form.ulica) }} / {{ form_widget(form.nr_domu) }}  / {{ form_widget(form.nr_lokalu) }}
                </div>
                {{ form_row(form.miejsce_urodzenia) }}
                {{ form_row(form.wzrost) }}
                {{ form_row(form.kolor_oczow) }}
                {{ form_row(form.data_wydania_dowodu) }}
                {{ form_row(form.organizacja_wydajaca_dowodu) }}
                {{ form_row(form.pesel) }}
                {{ form_row(form.numer_dodowu) }}
            </div>
        </div>
    </div> 
    
    <div class="col-lg-12 col-dane-dowodu">
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>Adres zameldowania</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display: none;">
                <div class="form-group">
                    <label class="label-form">Kod pocztowy / miasto</label>
                    {{ form_widget(form.kod_pocztowy_zameldowania) }} / {{ form_widget(form.miasto_zameldowania) }}
                </div>
                <div class="form-group">
                    <label class="label-form">Ulica / Nr domu / Nr lokalu</label>
                    {{ form_widget(form.ulica_zameldowania) }} / {{ form_widget(form.nr_domu_zameldowania) }}  / {{ form_widget(form.nr_lokalu_zameldowania) }}
                </div>
            </div>
        </div>
    </div>
                
    <div class="col-lg-12 col-dane-dowodu">
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>Adres korespondencji</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content" style="display: none;">
                <div class="form-group">
                    <label class="label-form">Kod pocztowy / miasto</label>
                    {{ form_widget(form.kod_pocztowy_korespondencji) }} / {{ form_widget(form.miasto_korespondencji) }}
                </div>
                <div class="form-group">
                    <label class="label-form">Ulica / Nr domu / Nr lokalu</label>
                    {{ form_widget(form.ulica_korespondencji) }} / {{ form_widget(form.nr_domu_korespondencji) }}  / {{ form_widget(form.nr_lokalu_korespondencji) }}
                </div>
            </div>
        </div>
    </div>
                
    <button class="btn btn-primary" id="jq-dodaj-inwestora">
        <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Dodaj inwestora
    </button>        
{% endblock %}

{% block scriptsJS %}
    <script>
        $(document).ready(function(){
            
            $('#jq-dodaj-inwestora').on('click', function(){
                var base = $('.jq-dane-z-dowodu-wzor');
                var row = base.clone();
                row.removeClass('jq-dane-z-dowodu-wzor');
                row.find('h5').text('Inwestor');
                var inwestor_row = '<div class="form-group fomr-wyceny-rodzaj-inwestora">'+
                    '<label class="label-form">Rodzaj inwestora</label>'+
                    '<div class="col-sm-12">'+
                        '<div class="i-checks"><label> <input type="radio" value="0" name="a"> <i></i> Małżonek </label></div>'+
                        '<div class="i-checks"><label> <input type="radio" value="1" name="a"> <i></i> Przykład 1 </label></div>'+
                        '<div class="i-checks"><label> <input type="radio" value="2" name="a"> <i></i> Przykład 2 </label></div>'+
                        '<div class="i-checks"><label> <input type="radio" value="3" name="a"> <i></i> <span>Inne <input type="text" disabled="disabled" placeholder="" class="form-control"> </span></label></div>'+
                    '</div>'+
                '</div>'+
                '<div class="form-group"><label for="userInfoWyceny_imie" class="label-form">Imię</label><input type="text" id="userInfoWyceny_imie" name="userInfoWyceny[imie]" class="form-control"></div>'+
                '<div class="form-group"><label for="userInfoWyceny_imie_drugie" class="label-form">Drugie imie</label><input type="text" id="userInfoWyceny_imie_drugie" name="userInfoWyceny[imie_drugie]" class="form-control"></div>'+
                '<div class="form-group"><label for="userInfoWyceny_nazwisko" class="label-form">Nazwisko</label><input type="text" id="userInfoWyceny_nazwisko" name="userInfoWyceny[nazwisko]" class="form-control"></div>';
                row.find('.ibox-content').prepend(inwestor_row);
                row.find('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green'
                });
                $(this).before(row);
            });
            
            $('.datepicker').datepicker({
                    startView: 2,
                    todayBtn: "linked",
                    keyboardNavigation: false,
                    forceParse: false,
                    autoclose: true,
                    format: "dd.mm.yyyy",
                    language: 'pl'
            });
        });
    </script>
{% endblock %}