{% extends "RexiDashBoardBundle::base.html.twig" %}
{% import 'RexiDashBoardBundle::macros.html.twig' as macros %}

{% set blok %}
    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
        <thead>			                
            <tr>
                <th data-hide="phone">ID</th>
                <th data-class="expand"><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i> Login</th>
                <th data-hide="phone"><i class="fa fa-fw fa-envelope text-muted hidden-md hidden-sm hidden-xs"></i> Email</th>
                <th>Imie</th>
                <th>Nazwisko</th>
                <th>Pesel</th>
                <th>Typ</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.imie }}</td>
                    <td>{{ user.nazwisko }}</td>
                    <td>{{ user.pesel }}</td>
                    <td>
                        {% if user.typ == 1 %}
                            Klient
                        {% else %}
                            Pracownik
                        {% endif %}
                        </td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="{{ path('rexi_user_aktualizuj', {'id': user.id}) }}"><i class="fa fa-pencil"></i></a>
                        <a class="btn btn-danger btn-xs" href="{{ path('rexi_delete_user', {'id': user.id}) }}"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr> 
            {% else %}
                <tr>
                    <td colspan="4">Brak uzytkownikow</td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
    <div class="dt-toolbar-footer">
        <div class="col-sm-6 col-xs-12 hidden-xs"></div>
        <div class="col-xs-12 col-sm-6">
            <div class="dataTables_paginate paging_simple_numbers" id="dt_basic_paginate">
                {{ knp_pagination_render(users, 'RexiDashBoardBundle:Pagination:pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endset %}

{% block pageContainer %}
    {{ macros.widgetBlock('Uzytkownic', 'Lista użytkowników', blok) }}
{% endblock %}
